
  

    <div class="login-container">
        <div class="login-box">
          <div class="logo">
            <!-- Ajoutez ici l'image du logo de votre entreprise -->
            <img src="assets\lum.jpg" alt="Logo">
          </div>
          <h2 style="color: aliceblue; font-size: 250%; margin-top: 5%;">LOG IN</h2>
          <form>
            <div class="input-group" style="margin-top: 10%">
              <label for="username" style="font-size: larger;">
                <i class="fas fa-user"></i>
              </label>
              <input type="text" id="username" name="username" class="custom-input" placeholder="Username" required>
            </div>
            <div class="input-group">
              <label for="password" style="font-size: larger;">
                <i class="fas fa-lock"></i>
              </label>
              <input type="password" id="password" name="password" class="custom-input" placeholder="Password" required>
            </div>
            <button type="submit" class="btn"  (click)="login()" >Connexion</button>
            </form>
      </div>
      
    </div>
  
 
